 <h2>My Profile</h2>

<p>Email: <%= current_user.email %> (cannot be changed)</p>
<%= form_with model: current_user, url: user_profile_path, method: :patch do |f| %>
  <p>Full Name: <%= f.text_field :name %></p>
  <p><%= f.submit "Update Profile" %></p>
<% end %>

