<div id="<%= dom_id fine %>">
  <p>
    <strong>Loan:</strong>
    <%= fine.loan_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= fine.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= fine.status %>
  </p>

</div>
