<div id="<%= dom_id categorization %>">
  <p>
    <strong>Category:</strong>
    <%= categorization.category_id %>
  </p>

  <p>
    <strong>Library resource:</strong>
    <%= categorization.library_resource_id %>
  </p>

</div>
