<footer class="footer has-background-dark" style="border-top: 1px solid #FFB800;">
  <div class="content has-text-centered">
    <p class="has-text-white-ter">
      <strong class="has-text-warning">Library System</strong> by 
      <a href="#" class="has-text-warning">Your Name</a>
    </p>
    <p class="has-text-white-ter">
      © <%= Time.current.year %> All rights reserved
    </p>
  </div>
</footer> 