 
<h2>Library Personnel Dashboard</h2>

<ul>
  <li><%= link_to "Manage Books", manage_books_path %></li>
  <li><%= link_to "Manage Users", manage_users_path %></li>
  <li><%= link_to "List Loans", list_loans_path %></li>
</ul>
