 <h2>Remove a Book</h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %> - <%= book.author %>
      <%= button_to "Remove", remove_book_path(book), method: :post, data: { confirm: "Are you sure you want to delete this book?" } %>
    </li>
  <% end %>
</ul>

