<% content_for :title, "Editing Library Resource" %>

<h1>Editing Library Resource</h1>

<%= render "form", library_resource: @library_resource %>

<br>

<div>
  <%= link_to "Show this library resource", @library_resource %> |
  <%= link_to "Back to library resources", library_resources_path %>
</div>